#baner {
    background-color: rgb(198, 109, 253);
    text-align: center;
    color: white;
    font-size: 200%;
    height: 150px;
    padding-top: 20px;
}

#menu {
    background-color: rgb(214, 164, 246);
    text-align: center;
    color: white;
    height: 80px;
    font-size: 200%;
    padding: 20px;
}
#menu a { 
    text-decoration: none;
    padding: 30px;
}

#opis {
    background-color: rgb(225, 199, 241);
    color: white;
    height: 1600px;
    padding: 20px;
}

q {
    font-size: 150%;
}

p {
    font-size: 150%;
}
 
li {
    font-size: 150%;
}

button:hover {
    background-color: white;
    color: rgb(198, 109, 253);
}

table {
    width:70%;
    border-collapse: collapse;
    margin-top: 20px;
}
td, tr, th {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td, th {
    color: white;
}

a {
    text-decoration:none;
    color: white;
    font-size: 20px;
}